asgiref==3.2.7
click==7.1.2
Django==3.0.6
Flask==1.1.2
image==1.5.31
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.18.4
Pillow==7.1.2
psutil==5.7.0
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
waitress==1.4.3
Werkzeug==1.0.1
